@model project.Models.Government

@{
    ViewBag.Title = "تحذير";
    Layout = "~/Views/Shared/_adminMainLayout.cshtml";

}

<div class="col-md-2"></div>
<div class="col-md-6">
    <hr />
    <dl class="dl-horizontal" style="font-size:24px;">
        <dd class="text-right text-danger">
            <span>هل تريد حذف محافظة </span>
            @Html.DisplayFor(model => model.name)
            <span>؟</span>
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("إالغاء", "Index",null,new {@class="btn btn-primary" })
        </div>
    }
</div>
