
@{
    
}

<!DOCTYPE html>

<html>
<head lang="ar-EG">
    <meta name="viewport" content="width=device-width" />
    <title>CreatingComplaint</title>
</head>
<body>
    <div class="container">
         <form class="form-group">
             <fieldset>
                 <legend>شكوى</legend>

                 <label>الاسم</label>
                 <input type="text" />
                 <label>الرقم القومى</label>
                 <input type="text" />
                 <label>البريد الالكترونى</label>
                 <input type="text" />
                 <label>التليفون المنزلى</label>
                 <input type="text" />
                 <label>المحمول</label>
                 <input type="text" />
                 <label>الوظيفة</label>
                 <input type="text" />
                 <label>المدينه</label>
                 <input type="text" />
                 <label>الحى</label>
                 <input type="text" />
                 <label>عنوان الشكوى</label>
                 <input type="text" />
                 <label>تفاصيل الشكوى</label>
                 <input type="text" />
                 <label>المرفقات</label>
                 <input type="text" />

                 <label>الجهة المشكو اليها</label>
                 <label>المحافظه</label>
                 <input type="text" />
                 <label>المدينه</label>
                 <input type="text" />

             </fieldset>
         </form>

    </div>
</body>
</html>
