
@{
    
}

<!DOCTYPE html>

<html>
<head lang="ar-EG">
    <meta name="viewport" content="width=device-width" />
    <title>CreatingComplaint</title>
</head>
<body>
    <div class="container ">
        <form class="form-group">
            <fieldset class="border border-danger main-form">
                <legend class="btn btn-danger ">شكوى</legend>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                        <input type="text" class="form-control" />

                        <input type="text" class="form-control" />

                        <input type="text" class="form-control" />

                        <input type="text" class="form-control" />

                        <input type="text" class="form-control" />

                        <input type="text" class="form-control" />

                        <input type="text" class="form-control" />

                        <textarea class="form-control"></textarea><br>

                        <input type="file" class="form-control" />

                        <select id="seplator" type="text" class="form-control"><option>المنوفية</option></select>


                        <select class="form-control">
                            <option>اشمون</option>
                         </select>

                        <select class="form-control">
                            <option>النظافة</option>
                        </select>
                        <br>
                        <input type="submit" value="الغاء" class="btn btn-danger">
                        <input type="submit" value="ادخال" class="btn btn-danger">
                    </div>
                    <div class="col-md-4 text-right font-weight-bold">
                        <label> : الاسم</label>
                        <label>: البريد الالكترونى</label>
                        <label>: التليفون المنزلى</label>
                        <label>: المحمول</label>
                        <label>: الوظيفة</label>
                        <label>: المدينه</label>
                        <label>: الحى</label>

                        <label>: عنوان الشكوى</label>
                        <label>: تفاصيل الشكوى</label>
                        <label id="lbl-seprator">: المرفقات</label>

                        <label><u>-: الجهة المشكو اليها</u></label>
                        <label>: المحافظه</label>
                        <label>: المدينه</label>
                        <label>: الجهة</label>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
    <style>

        fieldset{
            border:1px solid #c9302c;
        }
        input[type=submit] {
            font-weight: bold;
            margin-left: 50px;
        }

        #lbl-seprator {
            margin-top: 160px;
        }

        select {
            margin-bottom: 15px;
        }

        #seplator {
            margin-top: 70px;
        }

        .main-form {
            padding: 10px;
        }

        label {
            display: block;
            margin-bottom: 25px;
        }

        textarea.form-control {
            margin-top: 40px;
            height: 150px;
        }

        input {
            margin-bottom: 15px;
        }
    </style>
</body>
</html>

