@*@model project.Models.Complaint*@

@{
    ViewBag.Title = "SolveOfComp";
    Layout = "~/Views/Shared/officialLayout.cshtml";
}

<h2 class="text-center">حل المشكلة</h2>

<form method="post">
    <label hidden name="id">@ViewBag.id</label>

    <div class="row">

        <div class="col-md-12">

            <div class="md-form">
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="form-group">
            <div class="col-sm-3 col-sm-offset-3 mt-3">
                <input type="submit" value="اضافة" class=" btn-info   text-center ">

            </div>
        </div>
    </div>

</form>
@Html.ActionLink("الرجوع", "home", null, new { @class = "btn btn-info" })

