p {
    margin-left: 50%;
    width: 100%;
}
body{
    background:rgb(231, 236, 236);
}
.paragraph{
    padding: 3%;
    color: white;
}
#defination{
    background:rgb(125, 126, 126);
    width: 90%;
    height: 50%;
    border-radius: 4%;
}
.tan{
    font-size: 150%;
    padding-top: 1%;
    padding-right: 4%;
    color: white;
    margin-left:50%;
}
#main{
    background:rgb(252, 252, 252);
    width: 90%;
    height: 150%;
    border-radius: 2%;
   border-style: groove;
}
.paragraphs{
    padding: 3%;
    color: rgb(26, 25, 25);
}
.bob{
    font-size: 180%;
    padding-top: 1%;
    padding-right: 4%;
    color: rgb(26, 25, 25);;
}
li{
    padding-right: 2%;
}
