body{
    width: 100%;
    height: 100%;
    
}
#main{
    height: 30%;
    margin-right: 25%;
    width: 43%;
    margin-top: 1%;
    background: rgb(228, 225, 225);
    padding: 4%;
    border-radius: 3%;
    font-family: 'Mirza', cursive;
    opacity: 2%;
  

}
#are{
    font-size: 250%;
    color: rgb(37, 163, 153);
    font-family: 'Mirza', cursive;
    margin-right: 40%;
    margin-top: 8%;
}
#to{
    font-size: 150%;
    color: black;
    font-family: 'Mirza', cursive; 
    margin-right: 10%;
}
#formz{
    width: 100%;
    margin-right: 15%;
}
#bar{
    width: 50%;
    display: contents;
    margin-right: 5%;
    font-size: 120%;
}

#inp{
    width: 50%;
}
#send{
    width: 40%;
    height: 20%;
    font-size: 120%;
    background: rgb(37, 163, 153);
    color: white;
    border-radius: 7%;
    margin-right: 28%;

}