
@{
    ViewBag.Title = "common";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}





<div class=" mt-4" style="display:inline-flex ; margin: 95px 0px;">

    <div style="width:70%; position:center; margin-right:15%;">

        <div style="background: silver !important;
    border-radius: 6%;
    padding: 6%;
    margin-left: 10%;
    height: 45%;
    padding-top: 9%;">


            <div class="text-right container">
                <p style="font-size:150%">
                    البوابة الإلكترونية لمنظومة الشكاوى الحكومية الموحدة
                </p>
            </div>
            <hr />
            <div>
            </div>

            <div class="text-right container" style="width:100% ;">
                <p>
                    تسعى الحكومة المصرية إلى تطوير أدائها , بما يحقق رضا السادة المواطنين وهى لذلك تعتبر آراءهم
                    وملاحظاتهم مرجعية معتمدة تسهم فى تحسين أداء الجهات الحكومية وضمان اعلى درجات الجودة فى تقديم
                    خدماتها.
                </p>
            </div>

        </div>


        <br />
        <br />
        <br />

        <div style="background: silver !important;
    border-radius: 6%;
    padding: 6%;
    margin-left: 10%;
    height: 45%;
    padding-top: 9%;">


            <div class="text-right container">
                <p style="font-size:160%">
                    تنويهات
                </p>
                <hr />
            </div>

            <div>
            </div>

            <div class="text-right container" style="width:100% ;">
                <p>
                    بوابة الشكاوى هى بوابة إلكترونية متاحة على بيئة الإنترنت تطبق نظام إداري متكامل يستند إلى أفضل الممارسات والمواصفات العالمية للتعامل مع شكاوى المتعاملين بفاعلية وكفاءة، ويشتمل على آليات عدة هي تسلّم الشكاوى ودراستها ومعالجتها والإستفادة منها في تحسين الأداء.وسيتم تطبيق النظام إلكترونياً وبشكل موحد على مستوى كافة الجهات الحكومية . .
                </p>
            </div>

        </div>




    </div>



    <div style="border-color: black;
    border-radius: 5%;
    background: #efecec;
    padding: 5%;">
        <div>


            <div class="text-right container">
                <p style="font-size:150%">
                    اسأله متكرره
                </p>
            </div>

            <hr />
            <div>


                <div class="container">
                    <p class="text-right" style="font-size:150%;">
                        ما هي الشكوى؟
                    </p>
                    <p class="text-right">
                        بيان مكتوب أو شفهي يقدم إلى الحكومة من أحد المتعاملين معها يعبر فيه عن عدم رضاه عن الإجراءات أو المعاملات التي ينبغي أن يتقدم بها للحصول على الخدمة، أو عن عدم رضاه عن أسلوب تقديمها.
                    </p>
                </div>
                <div class="container">
                    <p class="text-right" style="font-size:150%;">
                        ما هى بوابة الشكاوى الحكومية؟

                    </p>
                    <p class="text-right">
                        هى بوابة إلكترونية متاحة على بيئة الإنترنت تطبق نظام إداري متكامل يستند إلى أفضل الممارسات والمواصفات العالمية للتعامل مع شكاوى المتعاملين بفاعلية وكفاءة، ويشتمل على آليات عدة هي تسلّم الشكاوى ودراستها ومعالجتها والإستفادة منها في تحسين الأداء.وسيتم تطبيق النظام إلكترونياً وبشكل موحد على مستوى كافة الجهات الحكومية .
                    </p>
                </div>
                <div class="container">
                    <p class="text-right" style="font-size:150%;">
                        هل يتم الإفصاح عن المعلومات الخاصة، تلك التي يدونها المتعامل أثناء تسجيله الحساب، لمصلحة جهة ما؟
                    </p>
                    <p class="text-right">
                        المعلومات التي قدمتها في أثناء تسجيلك معلومات حسابك لن يتم الإطلاع عليها إلا من خلال الجهة الحكومية المكلفة ببحث الشكوى.
                    </p>
                </div>
                <div class="container">
                    <p class="text-right" style="font-size:150%;">
                        ما الذي يمكنني تقديمه من خلال بوابة الشكاوى الحكومية؟
                    </p>
                    <p class="text-right">
                        إنْ لم يكن لديك حساب، يرجى التسجيل فى التسجيل فى بوابة الشكاوى الحكومية قبل الدخول
                        بعد تسجيل الحساب يمكنك الدخول على النظام وتنفيذ الآتي:
                        تسجيل شكوى جديدة
                        تقديم تعليق على الإجراءات الخاصة بالشكوى
                    </p>
                </div>
                <div class="container">
                    <p class="text-right" style="font-size:150%;">
                        كيف أستطيع تسجيل شكوى جديدة ؟
                    </p>
                    <p class="text-right">
                        في قائمة الشكاوى اضغط على تسجيل شكوى جديدة
                        اختر القطاع والخدمة التي تريد الشكوى منها
                        أدخل موضوع الشكوى في الخانة الموفرة
                        أدخل تفاصيل الشكوى
                        أدخل النتيجة المتوقعة لحل الشكوى
                        أضف المرفقات إن وجدت
                    </p>
                </div>
                <div class="container">
                    <p class="text-right" style="font-size:150%;">
                        كيف يمكنني متابعة الشكوى؟
                    </p>
                    <p class="text-right">
                        عن طريق إدخال رقم الشكوى والرقم القومى في خانة متابعة الشكوى في الصفحة الرئيسة، أو بعد تسجيل الدخول عن طريق الضغط على الشكوى في قائمة الشكاوى.
                    </p>
                </div>

            </div>


        </div>


    </div>




    <br />
    <br />

    <br />
    <br />
    <br />
    <br />

    <br />
    <br />

    <br />
    <br />
    <br />
    <br />

</div>

























































@*<div class=" mt-4" style="display:inline-flex ; margin: 95px 0px;">

        <div  style="width:70%; position:center; margin-right:15%;">

            <div style="background: silver !important;
        border-radius: 6%;
        padding: 8%;
        margin-left: 10%;

        height: 45%;
        padding-top: 9%;" >


                <div class="text-right container">
                    <p style="font-size:150%" >
                        البوابة الإلكترونية لمنظومة الشكاوى الحكومية الموحدة
                    </p >
                </div>
                <hr />
                <div>
                </div>

                <div class="text-right container" style="width:100% ;">
                    <p>
                        تسعى الحكومة المصرية إلى تطوير أدائها , بما يحقق رضا السادة المواطنين وهى لذلك تعتبر آراءهم
                        وملاحظاتهم مرجعية معتمدة تسهم فى تحسين أداء الجهات الحكومية وضمان اعلى درجات الجودة فى تقديم
                        خدماتها.
                    </p>
                </div>

            </div>


            <br />
            <br />
            <br />

            <div style="background: silver !important;
        border-radius: 6%;
        padding: 6%;
        margin-left: 10%;
        height: 45%;
        padding-top: 9%;">


                <div class="text-right container">
                    <p style="font-size:160%">
                       تنويهات
                    </p>
                    <hr />
                </div>

                <div>
                </div>

                <div class="text-right container" style="width:100% ;">
                    <p>
                        بوابة الشكاوى هى بوابة إلكترونية متاحة على بيئة الإنترنت تطبق نظام إداري متكامل يستند إلى أفضل الممارسات والمواصفات العالمية للتعامل مع شكاوى المتعاملين بفاعلية وكفاءة، ويشتمل على آليات عدة هي تسلّم الشكاوى ودراستها ومعالجتها والإستفادة منها في تحسين الأداء.وسيتم تطبيق النظام إلكترونياً وبشكل موحد على مستوى كافة الجهات الحكومية . .
                    </p>
                </div>

            </div>




        </div>



        <div style="border-color: black;
        border-radius: 5%;
        background: #efecec;
        padding: 8%;">
            <div>


                <div class="text-right container">
                    <p style="font-size:150%">
                        اسأله شائعه
                    </p>
                </div>

                <hr />
                <div>
                    <p class="text-right" style="font-size:150%;">
                        ما هي الشكوى؟
                    </p>
                    <p class="text-right">
                        بيان مكتوب أو شفهي يقدم إلى الحكومة من أحد المتعاملين معها يعبر فيه عن عدم رضاه عن الإجراءات أو المعاملات التي ينبغي أن يتقدم بها للحصول على الخدمة، أو عن عدم رضاه عن أسلوب تقديمها.
                    </p>
                </div>
                <div>
                    <p class="text-right" style="font-size:150%;">
                        ما هى بوابة الشكاوى الحكومية؟

                    </p>
                    <p class="text-right">
                        هى بوابة إلكترونية متاحة على بيئة الإنترنت تطبق نظام إداري متكامل يستند إلى أفضل الممارسات والمواصفات العالمية للتعامل مع شكاوى المتعاملين بفاعلية وكفاءة، ويشتمل على آليات عدة هي تسلّم الشكاوى ودراستها ومعالجتها والإستفادة منها في تحسين الأداء.وسيتم تطبيق النظام إلكترونياً وبشكل موحد على مستوى كافة الجهات الحكومية .
                    </p>
                </div>
                <div>
                    <p class="text-right" style="font-size:150%;">
                        هل يتم الإفصاح عن المعلومات الخاصة، تلك التي يدونها المتعامل أثناء تسجيله الحساب، لمصلحة جهة ما؟
                    </p>
                    <p class="text-right">
                        المعلومات التي قدمتها في أثناء تسجيلك معلومات حسابك لن يتم الإطلاع عليها إلا من خلال الجهة الحكومية المكلفة ببحث الشكوى.
                    </p>
                </div>
                <div>
                    <p class="text-right" style="font-size:150%;">
                        ما الذي يمكنني تقديمه من خلال بوابة الشكاوى الحكومية؟
                    </p>
                    <p class="text-right">
                        إنْ لم يكن لديك حساب، يرجى التسجيل فى التسجيل فى بوابة الشكاوى الحكومية قبل الدخول
                        بعد تسجيل الحساب يمكنك الدخول على النظام وتنفيذ الآتي:
                        تسجيل شكوى جديدة
                        تقديم تعليق على الإجراءات الخاصة بالشكوى
                    </p>
                </div>
                <div>
                    <p class="text-right" style="font-size:150%;">
                        كيف أستطيع تسجيل شكوى جديدة ؟
                    </p>
                    <p class="text-right">
                        في قائمة الشكاوى اضغط على تسجيل شكوى جديدة
                        اختر القطاع والخدمة التي تريد الشكوى منها
                        أدخل موضوع الشكوى في الخانة الموفرة
                        أدخل تفاصيل الشكوى
                        أدخل النتيجة المتوقعة لحل الشكوى
                        أضف المرفقات إن وجدت
                    </p>
                </div>
                <div>
                    <p class="text-right" style="font-size:150%;">
                        كيف يمكنني متابعة الشكوى؟
                    </p>
                    <p class="text-right">
                        عن طريق إدخال رقم الشكوى والرقم القومى في خانة متابعة الشكوى في الصفحة الرئيسة، أو بعد تسجيل الدخول عن طريق الضغط على الشكوى في قائمة الشكاوى.
                    </p>
                </div>



            </div>


        </div>




        <br />
        <br />

        <br />
        <br />
        <br />
        <br />

        <br />
        <br />

        <br />
        <br />
        <br />
        <br />

    </div>*@