
@{
    ViewBag.Title = "forget";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<!DOCTYPE html>
<html lang="en" style="height: 215%">

<head>
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Main Stylesheet File -->
    <link href="~/Content/forget.css" rel="stylesheet">
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet">

</head>

<body>



    <div id="main">
        <p id="are"> هل نسيت كلمة المرور ؟</p>
        <div>
            <p id="to">
                لكى يتم إرسال إسم المستخدم وكلمة المرور الخاصة بك من خلال البريد الإلكترونى, من فضلك أدخل البريد
                الإلكترونى المسجل على النظام :
            </p>
        </div>
        <br />

        <div id="formz">
            <p id="bar">
                البريد الاليكتروني :
            </p>
            <input id="inp" type="email" value="" name="email" />

        </div>
        <br />
        <br />
        <br />
        <br />
        <div style="height: 50%">
            <input type="button" id="send" name="send" value="ارسال بيانات الدخول " />
        </div>


    </div>



</body>

</html>

