
@{
    ViewBag.Title = "forget";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}


    <div class="text-center " style="background-color:#dedada;border-radius:3% ;width: 88%; margin-right: 5%;">
        <br/>
       
        <p id="are"> هل نسيت كلمة المرور ؟</p>
        <div>
            <p id="to">
                لكى يتم إرسال إسم المستخدم وكلمة المرور الخاصة بك من خلال البريد الإلكترونى, من فضلك أدخل البريد
                الإلكترونى المسجل على النظام :
            </p>
        </div>
        <br />

        <div id="formz">
            <p id="bar">
                البريد الاليكتروني :
            </p>
            <input id="inp" type="email" value="" name="email" />

        </div>
        <br />
        <br />
        <br />
        <br />
        <div style="height: 50%" id="forgetsend">
            <input type="button" id="send" name="send" value="ارسال بيانات الدخول " />
        </div>

        <br />
    </div>

