
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}


    <div class="container mt-4">

        <div class="card bg-light" style="width:70%; position:center; margin-right:15%;">
            <article class="card-body">
                <h4 class="card-title mt-3 text-center">تسجيل دخول </h4>


                <form>
                   
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="الايميل " type="email">
                    </div> <!-- form-group// -->

                    


                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="الرقم السري " type="password">
                    </div> <!-- form-group// -->
                  





                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> تسجيل الدخول  </button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->

    </div>