
@{
    ViewBag.Title = "safety";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}


    <div class=" mt-4" style="display:inline-flex ; margin: 95px 0px;">

        <div style="width:70%; position:center; margin-right:15%;">

            <div style="background: silver !important;
    border-radius: 6%;
    padding: 6%;
    margin-left: 10%;
    height: 45%;
    padding-top: 9%;">


                <div class="text-right container">
                    <p style="font-size:150%">
                        البوابة الإلكترونية لمنظومة الشكاوى الحكومية الموحدة
                    </p>
                </div>
                <hr />
                <div>
                </div>

                <div class="text-right container" style="width:100% ;">
                    <p>
                        تسعى الحكومة المصرية إلى تطوير أدائها , بما يحقق رضا السادة المواطنين وهى لذلك تعتبر آراءهم
                        وملاحظاتهم مرجعية معتمدة تسهم فى تحسين أداء الجهات الحكومية وضمان اعلى درجات الجودة فى تقديم
                        خدماتها.
                    </p>
                </div>

            </div>


            <br />
            <br />
            <br />

            <div style="background: silver !important;
    border-radius: 6%;
    padding: 6%;
    margin-left: 10%;
    height: 45%;
    padding-top: 9%;">


                <div class="text-right container">
                    <p style="font-size:160%">
                        تنويهات
                    </p>
                    <hr />
                </div>

                <div>
                </div>

                <div class="text-right container" style="width:100% ;">
                    <p>
                        بوابة الشكاوى هى بوابة إلكترونية متاحة على بيئة الإنترنت تطبق نظام إداري متكامل يستند إلى أفضل الممارسات والمواصفات العالمية للتعامل مع شكاوى المتعاملين بفاعلية وكفاءة، ويشتمل على آليات عدة هي تسلّم الشكاوى ودراستها ومعالجتها والإستفادة منها في تحسين الأداء.وسيتم تطبيق النظام إلكترونياً وبشكل موحد على مستوى كافة الجهات الحكومية . .
                    </p>
                </div>

            </div>




        </div>



        <div style="border-color: black;
    border-radius: 5%;
    background: #efecec;
    padding: 5%;">
            <div>


                <div class="text-right container">
                    <p style="font-size:150%">
                        حماية السريه
                    </p>
                </div>

                <hr />
                <div>
                 

                    <div class=" text-right container">
                        <li class="container">
                            تتخذ الجهة الحكومية المعنية كافة التدابير والاحتياطات اللازمة لضمان سرية الشكاوى المقدمة، وكذلك سرية الوثائق والمعلومات المتعلقة بها (الورقية والإلكترونية والصوتية المسجلة).
                        </li>

                        <br />

                        <li class="container">
                            تُحدد صلاحيات متعددة المستويات تتيح اطلاع المجاز لهم دخول النظام الإلكتروني فقط على بيانات المستخدم التي قبل هو اطلاع الجهة الحكومية عليها.

                        </li>
                        <br />
                        <li class="container">
                            يتم ضمان سرية معلومات الشاكى والجهة المقصودة بالشكوى وبيانات كل منهما من خلال عدم السماح بالاطلاع عليها إلا من قبل الموظفين المختصين والمخولين الذين تقتضي طبيعة عملهم ذلك الاطلاع.

                        </li>
                        
                    </div>
                </div>


            </div>


        </div>




        <br />
        <br />

        <br />
        <br />
        <br />
        <br />

        <br />
        <br />

        <br />
        <br />
        <br />
        <br />

    </div>











































