
@{
    ViewBag.Title = "safety";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Bootstrap CSS File -->
    <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Main Stylesheet File -->
    <link href="~/Content/safty.css" rel="stylesheet">
    <link href="~/Content/bootstrap-rtl.css" rel="stylesheet">

</head>

<body>
    <div style="display: inline-flex">

        <div style="width: 30%">


            <div id="defination">


                <div class="paragraph">
                    <p>
                        البوابة الإلكترونية لمنظومة الشكاوى الحكومية الموحدة
                    </p>
                </div>

                <div style="background-color: #b8b8b8; height: 1px; ">
                </div>

                <div class="paragraph">
                    <p>
                        تسعى الحكومة المصرية إلى تطوير أدائها , بما يحقق رضا السادة المواطنين وهى لذلك تعتبر آراءهم
                        وملاحظاتهم مرجعية معتمدة تسهم فى تحسين أداء الجهات الحكومية وضمان اعلى درجات الجودة فى تقديم
                        خدماتها.
                    </p>
                </div>

            </div>


            <br />
            <br />
            <br />

            <div id="defination">


                <div class="tan">
                    <p> تنويهات </p>
                </div>

                <div style="background-color: #b8b8b8; height: 1px; ">
                </div>

                <div class="paragraph">
                    <p>
                        تسعى الحكومة المصرية إلى تطوير أدائها , بما يحقق رضا السادة المواطنين وهى لذلك تعتبر آراءهم
                        وملاحظاتهم مرجعية معتمدة تسهم فى تحسين أداء الجهات الحكومية وضمان اعلى درجات الجودة فى تقديم
                        خدماتها.
                    </p>
                </div>

            </div>






        </div>



        <div>
            <div id="main">


                <div class="bob">
                    <p>
                        حماية السريه
                    </p>
                </div>

                <div style="background-color: #b8b8b8; height: 1px; ">
                </div>

                <br />
                <br />
                <br />
                <br />


                <div>


                    <div>
                        <li>
                            تتخذ الجهة الحكومية المعنية كافة التدابير والاحتياطات اللازمة لضمان سرية الشكاوى المقدمة، وكذلك سرية الوثائق والمعلومات المتعلقة بها (الورقية والإلكترونية والصوتية المسجلة).
                        </li>

                        <br />

                        <li>
                            تُحدد صلاحيات متعددة المستويات تتيح اطلاع المجاز لهم دخول النظام الإلكتروني فقط على بيانات المستخدم التي قبل هو اطلاع الجهة الحكومية عليها.

                        </li>
                        <br />
                        <li>
                            يتم ضمان سرية معلومات الشاكى والجهة المقصودة بالشكوى وبيانات كل منهما من خلال عدم السماح بالاطلاع عليها إلا من قبل الموظفين المختصين والمخولين الذين تقتضي طبيعة عملهم ذلك الاطلاع.

                        </li>
                        <br />

                    </div>
                </div>


            </div>


        </div>





    </div>
</body>

</html>


<br />
<br />

<br />
<br />
<br />
<br />

<br />
<br />

<br />
<br />
<br />
<br />

