@model project.Models.Citzen

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)


        <div class="container mt-4" style="width:300%">

    <div class="card bg-light" style="width:70%; position:center; margin-right:15%; ">
        <article class="card-body">
            <h4 class="card-title mt-3 text-center">تعديل الرقم السري  </h4>


            <form>


                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" name="oldpassword" placeholder="الرقم السري القديم" type="password">


                </div> <!-- form-group// -->



                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" name="newpassword" placeholder="الرقم السري" type="password">


                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" name="confirmpassword" placeholder="تاكيد الرقم السري" type="password">
                </div> <!-- form-group// -->







                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" style="background:rgb(37, 163, 153)"> حفظ التغيرات   </button>
                </div> <!-- form-group// -->
            </form>
            <div id = "DivDynamic" >

            @if (ViewData["myInnerHtml"] != null)
            {
                @(new HtmlString(ViewData["myInnerHtml"].ToString()))
            }
            </div>
    </article>
    </div> <!-- card.// -->

        </div>





    </div>
}

























































