@model IEnumerable<project.Models.Complaint>
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_Citzen.cshtml";
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin: 95px 0px; width:360% ">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/pic1.png" alt="First slide" style="width:80px ; height:300px;border-radius:3%;">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/pic2.jpg" alt="Second slide" style="width:80px ; height:300px; border-radius:3%;">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/Content/pic3.png" alt="Third slide" style="width:80px ; height:300px;border-radius:3%;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container" style="display:inline-flex ; margin-bottom:5%;">

    <a href="~/Complaints/Create" class="card container text-right" style="width: 80rem;margin-right:3%;display:inline-flex;">

        <div >
            <i class="fas fa-plus-circle fa-5x" style="color:rgb(37, 163, 153);margin-top:5%"></i>

            <div class="card-header" style="">
                <p class="card-text" style="font-size:150%">اضافة شكوي جديده.</p>
            </div>
        </div>
    </a>

    <a class="card container text-right" href="~/Complaints/Search" style="width: 80rem;margin-right:3%;display:inline-flex;">
        <div >
            <i class="fab fa-readme fa-5x" style="color:rgb(37, 163, 153);margin-top:5%"></i>

            <div class="card-header" style="">
                <p class="card-text" style="font-size:150%">متابعة الشكوي.</p>
            </div>
        </div>

    </a>
    <a href="~/Common_Qustion/Index" class="card container text-right" style="width: 80rem;margin-right:3%;display:inline-flex;">
        <div >
            <i class="fas fa-question fa-5x" style="color:rgb(37, 163, 153);margin-top:5%"></i>

            <div class="card-header" style="">
                <p class="card-text" style="font-size:150%">أسأله متكرره .</p>
            </div>
        </div>
    </a>

</div>


<table class="table-bordered table-responsive">
    <thead class="thead-dark text-right">
        <tr>
            <th scope="col">عنوان الشكوي</th>
            <th scope="col">تفاصيل الشكوي</th>
            <th scope="col">رقم الشكوي </th>
            <th scope="col">تاريخ الشكوي</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var complaint in Model)
        {
        <tr>
            <td>@complaint.comTitle</td>
            <td>@complaint.comDescription</td>
            <td>@complaint.comNumber</td>
            <td>@complaint.comDate</td>
        </tr>
                }
            
        </tbody>
</table>


