
@{
    ViewBag.Title = "حظر مستخدم";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="container">
    

        <table class="table table-bordered mt-3 text-right">
            <thead style="background-color:rgb(37, 163, 153)">
                <tr>
                    <th>رقم المسلسل</th>
                    <th>اسم المستخدم  </th>
                    <th>الرقم القومي</th>
                    <th>الوظيفه </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>علي</td>
                    <td>01110000222</td>
                    <td>ادمن</td>
                    <td>
                        <button type="button" class="btn  ">حظر</button>

                    </td>

                </tr>
                <tr>
                    <td>2</td>
                    <td>اسماء</td>
                    <td>60255432110</td>
                    <td>مسئول</td>
                    
                    <td>
                        <button type="button" class="btn ">حظر</button>

                    </td>
                    
                </tr>

                <tr>
                    <td>3</td>
                    <td>اماني</td>
                    <td>02222514544255</td>
                    <td>ادمن</td>
                    <td>
                            <button type="button" class="btn ">حظر</button>
                       
                    </td>
                </tr>


            </tbody>


        </table>



    </div>



