
@{
    ViewBag.Title = "خطا 500";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 errdiv ">

            <p class="text-center fa-3x" >خطأ</p>
            <div class="text-center ">
                <i class="far fa-frown fa-5x " style="color:rgb(37, 163, 153);"></i>
            </div>

            <p class=" h5  text-center mt-3 " style="color:rgb(37, 163, 153); opacity: .7;">هذه الصفحه غير متوفره </p>
            <p class=" h5 text-center mt-3" style="color:grey;">
                نعتذر منك الصفحه التي تحاول الوصول اليها , قد تكون حذفت او تم تغير الرابط قد تجدها اذا جربت البحث عبر نموذج البحث والاقسام
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
