
@{
    ViewBag.Title = "viewallofficial";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="container">
    <h3 class="text-center  mt-3">المسئولين</h3>
    <div class="row clearfix">

        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover table-sortable mt-4 text-right" id="tab_logic">
                <thead style="background-color:rgb(37, 163, 153)">
                    <tr>
                        <th>رقم المسلسل</th>
                        <th>الاسم</th>
                        <th>الايميل</th>
                        <th>الرقم القومي</th>
                        <th>الوظيفه</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>

                        

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                        <td>
                            ايه عماد
                        </td>
                    </tr>





                </tbody>
            </table>

        </div>
    </div>
</div>

