
@{
    ViewBag.Title = "viewallofficial";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  ">
            <p class="text-center mt-5 "> المسئولين</p>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">رقم المسلسل</th>
                        <th scope="col">الاسم الاول</th>
                        <th scope="col">الاسم الثاني</th>
                        <th scope="col">الاسم الاخير</th>
                        <th scope="col">اسم المستخدم</th>
                        <th scope="col">الرقم السري</th>
                        <th scope="col">الايميل</th>
                        <th scope="col"> رقم الهاتف </th>
                        <th scope="col"> رقم الهاتف</th>
                        <th scope="col">الوظيفه</th>
                        <th scope="col"> وصف الوظيفه</th>>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


        <div class="col-md-3"></div>

    </div>
</div>


